RewriteEngine On
Options All -Indexes

# Redirigir URLs amigables para la edición
RewriteRule ^edit/([0-9]+)/?$ index.php?view=formEdit&action=edit&id=$1 [L,QSA]

# Manejar otras vistas amigables
RewriteRule ^([a-zA-Z0-9/ñÑ-]+)/?$ index.php?view=$1 [L,QSA]
