.fullContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-height: 100vh;
  background-color: var(#f6f6f6);
  font-family: "Poppins", sans-serif;
}
.image-box{
  grid-column: 1 / 4;
  background: url(../public/img/blue-geometric.jpg) no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-box{
  color: var(--color-claro);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.welcome-box h1{
  font-size: 3rem;
  font-weight: 600;
}
.welcome-box p{
  font-size: 1.5rem;
}
.login-register-box{
  background-color: var(--color-claro);
  grid-column: 4 / 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.img-header{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10%;
}
.img-header img{
  width: 40%;
  height: auto;
}
.login-register-header{
  font-size: 2rem;
  color: var(--color-primario);
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}
.login-register-form{
  width: 60%;
}
.alertSession {
  text-align: center;
}

.input-box {
  width: 100%;
  height: 50px;
  margin: 15px 0;
  position: relative;
}
.input-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  font-size: 18px;
  padding: 20px 40px 20px 20px;
}
.input-box input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.input-box svg {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.forgot{
  display: flex;
  justify-content: center;
  font-size: 14.5px;
  margin: 5px 0 15px;
}
.forgot a {
  text-decoration: none;
  color: var(--color-texto);
}
.forgot a:hover {
  text-decoration: underline;
}

.btnIn {
  width: 100%;
  height: 45px;
  border-radius: 40px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--color-claro);
  font-size: 16px;
  font-weight: 600;
  background-color: var(--color-primario);
}
.btnIn:hover {
  cursor: pointer;
}
.login-register {
  display: flex;
  justify-content: center;
  font-size: .875rem;
  margin: 1.25rem 0 1rem;
}
.login-register a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-texto);

}
.login-register a:hover {
  text-decoration: underline;
}

.password-box {
  height: fit-content;
}
.password-box h6{
  margin-bottom: 4px;
  font-size: 16px;
}

.password-box ul{
  margin-bottom: 15px;
  padding: 0 15px;
}
.password-box li{
  margin-left: 10px;
  font-size: 14px;
}