.overlay-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.3s ease; /* Transición suave */
}
.overlay-active {
  display: flex;
}
.overlay-opening {
  opacity: 1;
}
.overlay-closing {
  opacity: 0;
}

.modal-box {
  margin: auto;
  background-color: #ffffff;
  min-width: 600px;
  max-width: 50vw;
  height: fit-content;
  padding: 2.5em;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  opacity: 0; /* Inicialmente invisible */
  transition: all 0.3s ease;
  transform: scale(0.9) translateY(100px); /* Estado inicial */
  justify-content: center;
  align-items: center;
}
.modal-active {
  display: flex;
}
.modal-opening {
  opacity: 1; /* Se desvanece al abrir */
  transform: scale(1) translateY(0); /* Regresa a escala normal */
}
.modal-closing {
    opacity: 0; /* Se desvanece al cerrar */
    transform: scale(0.9) translateY(-50px); /* Regresa a escala reducida */
  }

.modal-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.modal-button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-primario);
  color: var(--color-claro);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 14px;
  border: 0;
  padding: 6px 12px;
}
