:root {
  --tran-02: all 0.2s ease;
}
.navbar {
  background-color: var(--color-primario);
  padding: 10px;
  text-align: left;
  min-width: 15%;
  width: 15%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-claro);
  transition: all 0.3s ease;
  interpolate-size: allow-keywords;
}
.navbar__list-container {
  padding: 12px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar__header {
  height: 64px;
  cursor: initial;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .page_header {
  font-family: "poppins";
  text-align: center;
  font-size: 24px;
}
.navbar a {
  text-decoration: none;
  color: var(--color-claro);
}
.navbar__item {
  height: 48px;
  transition: var(--transition-standart);
}
.navbar__icon {
  width: 24px;
  height: 24px;
}
.navbar__link {
  border-radius: var(--border-radius);
  padding: 10px 12px;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 10px;
  height: 100%;
  justify-content: space-between;
}
.navbar__item-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar__link:hover {
  background-color: var(--color-primario-hover);
}

.accordion__header {
  cursor: pointer;
  user-select: none;
}
.accordion {
  cursor: pointer;
  user-select: none;
  overflow-y: hidden;
  transition: var(--transition-standart);
}

.accordion__content {
  max-height: 0px;
  overflow: hidden;
  transition: var(--transition-standart);
}
.navbar__text,
.page_header,
.arrow {
  animation: vanish 0.5s forwards;
}

.collapsed {
  width: 5vw;
  min-width: 70px;
  overflow: hidden;
}

.collapsed .navbar__text,
.collapsed .page_header,
.collapsed .arrow {
  opacity: 0;
}
.imgArrow {
  transition: var(--transition-standart);
}
/* Opcional: Si quieres desactivar animaciones iniciales */
.navbar.no-transition {
  transition: none !important;
}
.accordion__content a:hover {
  background-color: var(
    --color-primario-hover
  ); /* Añadir color de fondo al pasar el ratón */
  text-decoration: none; /* Asegurarse de que no haya subrayado al pasar el ratón */
}

.navbar.navbar-loading .accordion__content {
  transition: none !important; /* Anulación más fuerte */
}

/* Opcional: Si la rotación de la flecha también tiene animación y quieres evitarla al inicio */
.navbar.navbar-loading .imgArrow {
  transition: none !important; /* Anulación más fuerte */
}

/* ¡NUEVO Y MUY IMPORTANTE! Desactivar la transición para el contenedor .accordion */
.navbar.navbar-loading .accordion {
  transition: none !important; /* Anulación más fuerte */
}
