.table-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 15px;
  min-height: 32px;
}
table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
  text-align: center;
}
table.dataTable > tbody > tr > th,
table.dataTable > tbody > tr > td {
  padding: 12px 10px;
  vertical-align: middle;
}
table.dataTable > thead > tr > th,
table.dataTable > thead > tr > td {
  text-align: center;
  font-weight: 400;
}
.edit-on-change {
  background-color: transparent;
}
div.dt-container .dt-search input {
  padding: 6px 12px;
  border-radius: var(--border-radius);
}
.dt-paging-button {
  margin: 0;
}
.table-actions {
  display: flex;
  gap: 15px;
}
.search-button {
  background-color: var(--color-primario);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  width: 100%;
  font-size: 14px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-wrap: nowrap;
}
.table-head {
  background-color: var(--color-primario);
  color: var(--color-claro);
}
.table-head th:first-child {
  border-top-left-radius: var(--border-radius);
}
.table-head th:last-child {
  border-top-right-radius: var(--border-radius);
  min-width: 70px;
}
.table-row:hover {
  background-color: var(--color-white-hover);
}
.table th {
  padding: 12px 6px;
}

.table-body td {
  padding: 12px 6px;
}
td select {
  border: 0;
  width: 60%;
  max-width: 170px;
  height: 100%;
}
.table-row {
  border-bottom: solid 1px var(--color-white-hover);
}

.table td:last-child {
  padding: 0;
}
#faultReportTable td:nth-last-child(2) {
  padding: 0;
}
#userTable td:nth-child(4) {
  padding: 0;
}
#employeeTable td:nth-child(7) {
  padding: 0;
}
div.dt-buttons > .dt-button,
div.dt-buttons > div.dt-button-split .dt-button {
  background-color: var(--color-primario);
  color: var(--color-claro);
  border-radius: var(--border-radius);
  padding: 6px 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
div.dt-buttons > .dt-button:hover:not(.disabled),
div.dt-buttons
  > div.dt-button-split
  .dt-button:hover:not(.disabled){
  background-color: var(--color-primario);
  }
  .table-body
  .empty-row-cell {
  border: none;
  height: 39px;
}
.table-button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-primario);
  color: var(--color-claro);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 14px;
  border: 0;
  padding: 6px 12px;
}
.relative-container {
  position: relative;
  top: 0;
  left: 0;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.crud-button {
  cursor: pointer;
  border: 0;
  border-radius: var(--border-radius);
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green-button {
  background-color: #4caf50;
}
.red-button {
  background-color: #f44336;
}
.yellow-button {
  background-color: #ffc107;
}
.cyan-button {
  background-color: #00bcd4;
}
.date-filter {
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 6px 12px;
  border-radius: var(--border-radius);
}
.date-filter-container {
  display: flex;
  gap: 5px;
}
.reset-button {
  padding: 6px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-button {
  background-color: #515151;
}
.actions-dropdown-container {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: visible;
}
.actions-dropdown-menu {
  background-color: #fff;
  position: absolute;
  top: 0;
  transform: translateY(-25%);
  right: 70%;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.crud-option {
  background-color: transparent;
  width: 100%;
  padding: 8px 12px;
}
.crud-option:hover {
  background-color: var(--color-white-hover);
}

.states {
  color: var(--color-claro);
  padding: 4px 8px;
  border-radius: var(--border-radius);
}
.status-pending {
  background-color: #ffa500;
}
.status-accepted {
  background-color: #007bff;
}
.status-completed {
  background-color: #28a745;
}

div.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover {
  border: 0;
  background-color: var(--color-primario);
  color: var(--color-claro) !important;
  border-radius: var(--border-radius);
}

div.dt-container .dt-paging .dt-paging-button {
  border: 0;
  margin-left: 0;
  background-color: buttonface;
  border-radius: 0;
}
div.dt-container .dt-paging .dt-paging-button:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
div.dt-container .dt-paging .dt-paging-button:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
div.dt-container .dt-paging .dt-paging-button:hover {
  border: 0;
  background: none;
  background-color: var(--color-primario);
  border-radius: var(--border-radius);
}

.circle {
    width: 1rem; /* Ancho del círculo */
    height: 1rem; /* Alto del círculo */
    border-radius: 50%; /* Hace que el borde sea completamente redondo */
}

.circle-red {
    background-color: #f44336; /* Color rojo */
}

.circle-green {
    background-color: #4caf50; /* Color verde */
}