
/*Controlan la apariencia del layout de los paneles, asi como los paneles mismos*/
.data-panels {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-medium); /* Usar gap en lugar de margen */
}

.data-panel {
    flex: 1;
    height: 150px; /* Ajustar la altura según sea necesario */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: var(--border-radius); /* Añadir border-radius */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: var(--spacing-small); /* Añadir padding */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-texto); /* Color del texto */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Fuente del texto */
    font-size: 16px; /* Tamaño del texto */
}
