.navbar {
  background-color: var(--color-primario);
  padding: 10px;
  text-align: left;
  width: 17%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-claro);
}
.navbar__list-container{
	padding: 12px 0;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.navbar h1 {
  font-family: "poppins";
  padding: 20px 0;
  text-align: center;
  font-size: 24px;
}
.navbar a {
  text-decoration: none;
  color: var(--color-claro);
}
.navbar__item {
  height: 48px;
  transition: var(--transition-standart);
}
.navbar__icon {
	width: 24px;
	height: 24px;
}
.navbar__link {
	border-radius: var(--border-radius);
	padding: 12px 16px;
	display: flex;
	align-items: center;
	font-size: 16px;
	gap: 10px;
	height: 100%;
}
.navbar__link:hover {
  background-color: var(--color-primario-hover);
}

.accordion__header{
	cursor: pointer;
	user-select: none;
}
.accordion{
	cursor: pointer;
	user-select: none;
	overflow-y: hidden;
	transition: var(--transition-standart);
}

.accordion__content {
	max-height: 0px;
	overflow: hidden;
	transition: var(--transition-standart);
}


.accordion__content a:hover {
  background-color: var(--color-primario-hover); /* Añadir color de fondo al pasar el ratón */
  text-decoration: none; /* Asegurarse de que no haya subrayado al pasar el ratón */
}
